/* 1-color-modes */
[data-theme='dark-mode'] {
  --colors-alpha-alpha-black-10: #ffffff1a;
  --colors-alpha-alpha-black-100: #ffffff;
  --colors-alpha-alpha-black-20: #ffffff33;
  --colors-alpha-alpha-black-30: #ffffff4d;
  --colors-alpha-alpha-black-40: #ffffff66;
  --colors-alpha-alpha-black-50: #ffffff80;
  --colors-alpha-alpha-black-60: #ffffff99;
  --colors-alpha-alpha-black-70: #ffffffb2;
  --colors-alpha-alpha-black-80: #ffffffcc;
  --colors-alpha-alpha-black-90: #ffffffe5;
  --colors-alpha-alpha-white-10: #0c111d1a;
  --colors-alpha-alpha-white-100: var(--colors-gray-dark-mode-950);
  --colors-alpha-alpha-white-20: #0c111d33;
  --colors-alpha-alpha-white-30: #0c111d4d;
  --colors-alpha-alpha-white-40: #0c111d66;
  --colors-alpha-alpha-white-50: #0c111d80;
  --colors-alpha-alpha-white-60: #0c111d99;
  --colors-alpha-alpha-white-70: #0c111db2;
  --colors-alpha-alpha-white-80: #0c111dcc;
  --colors-alpha-alpha-white-90: #0c111de5;
  --colors--background--bg-active: var(--colors--gray-light-mode--800);
  --colors--background--bg-brand-primary: var(--colors--brand--600);
  --colors--background--bg-brand-secondary: var(--colors--brand--400);
  --colors--background--bg-brand-section: var(--colors--brand--800);
  --colors--background--bg-brand-solid: var(--colors--brand--300);
  --colors--background--bg-brand-solid_hover: var(--colors--brand--200);
  --colors--background--bg-disabled: var(--colors--gray-light-mode--800);
  --colors--background--bg-error-primary: var(--colors--error--500);
  --colors--background--bg-error-secondary: var(--colors--error--600);
  --colors--background--bg-error-solid: var(--colors--error--600);
  --colors--background--bg-overlay: var(--colors--gray-light-mode--800);
  --colors--background--bg-primary: var(--colors--gray-light-mode--900);
  --colors--background--bg-primary-solid: var(--colors--brand--25);
  --colors--background--bg-primary_hover: var(--colors--gray-light-mode--800);
  --colors--background--bg-quaternary: var(--colors--gray-light-mode--600);
  --colors--background--bg-secondary: var(--colors--gray-light-mode--800);
  --colors--background--bg-secondary-solid: var(--colors--brand--50);
  --colors--background--bg-secondary_hover: var(--colors--gray-light-mode--700);
  --colors--background--bg-success-primary: var(--colors--success--500);
  --colors--background--bg-success-secondary: var(--colors--success--600);
  --colors--background--bg-success-solid: var(--colors--success--600);
  --colors--background--bg-tertiary: var(--colors--gray-light-mode--700);
  --colors--background--bg-warning-primary: var(--colors--warning--500);
  --colors--background--bg-warning-secondary: var(--colors--warning--600);
  --colors--background--bg-warning-solid: var(--colors--warning--600);
  --colors-border-border-brand: var(--colors--brand--400);
  --colors-border-border-brand-solid: var(--colors--brand--500);
  --colors-border-border-disabled: var(--colors--gray-dark-mode--700);
  --colors-border-border-error: var(--colors--error--400);
  --colors-border-border-error-solid: var(--colors--error--500);
  --colors-border-border-primary: var(--colors--brand--600);
  --colors-border-border-secondary: var(--colors--brand--700);
  --colors-border-border-tertiary: var(--colors--brand--800);
  --colors-foreground-fg-brand-primary: var(--colors--brand--400);
  --colors-foreground-fg-brand-secondary: var(--colors-brand-500);
  --colors-foreground-fg-disabled: var(--colors-gray-dark-mode-500);
  --colors-foreground-fg-error-primary: var(--colors-error-500);
  --colors-foreground-fg-error-secondary: var(--colors-error-400);
  --colors-foreground-fg-primary: var(--colors-gray-light-mode-25);
  --colors-foreground-fg-quarterary: var(--colors-gray-dark-mode-400);
  --colors-foreground-fg-quarterary_hover: var(--colors-gray-dark-mode-300);
  --colors-foreground-fg-secondary: var(--colors-gray-dark-mode-300);
  --colors-foreground-fg-secondary_hover: var(--colors-gray-dark-mode-200);
  --colors-foreground-fg-success-primary: var(--colors-success-500);
  --colors-foreground-fg-success-secondary: var(--colors-success-400);
  --colors-foreground-fg-tertiary: var(--colors-gray-dark-mode-400);
  --colors-foreground-fg-tertiary_hover: var(--colors-gray-dark-mode-300);
  --colors-foreground-fg-warning-primary: var(--colors-warning-500);
  --colors-foreground-fg-warning-secondary: var(--colors-warning-400);
  --colors-foreground-fg-white: var(--colors-base-white);

  --colors--text--text-brand-primary: var(--colors--brand--300);
  --colors--text--text-brand-secondary: var(--colors--brand--400);
  --colors--text--text-brand-tertiary: var(--colors--brand--500);
  --colors--text--text-brand-tertiary-alt: var(--colors--brand--600);
  --colors--text--text-disabled: var(--colors--gray-light-mode--500);
  --colors--text--text-error-primary: var(--colors--error--400);
  --colors--text--text-placeholder: var(--colors--gray-light-mode--300);
  --colors--text--text-primary: var(--colors--brand--25);
  --colors--text--text-primary-on-brand: var(--colors--gray-light-mode--950);
  --colors--text--text-secondary: var(--colors--gray-light-mode--300);
  --colors--text--text-secondary_hover: var(--colors--gray-light-mode--200);
  --colors--text--text-secondary-on-brand: var(--colors--gray-light-mode--300);
  --colors--text--text-success-primary: var(--colors--success--400);
  --colors--text--text-tertiary: var(--colors--gray-light-mode--100);
  --colors--text--text-tertiary_hover: var(--colors--gray-light-mode--300);
  --colors--text--text-tertiary-on-brand: var(--colors--gray-light-mode--400);
  --colors--text--text-warning-primary: var(--colors--warning--400);
  --colors--text--text-white: var(--colors-base-white);

  --components-application-navigation-nav-item-button-icon-fg: var(--colors-gray-dark-mode-400);
  --components-application-navigation-nav-item-button-icon-fg-active: var(
    --colors-gray-dark-mode-200
  );
  --components-application-navigation-nav-item-icon-fg: var(--colors-gray-dark-mode-400);
  --components-application-navigation-nav-item-icon-fg-active: var(--colors-gray-dark-mode-200);

  --colors--button--button-primary-bg: var(--colors-brand-400);
  --colors--button--button-primary-bg_hover: var(--colors-brand-600);
  --colors--button--button-primary-border: var(--colors-brand-400);
  --colors--button--button-primary-border_hover: var(--colors-brand-600);
  --colors--button--button-primary-fg: var(--colors-base-white);
  --colors--button--button-primary-fg_hover: var(--colors-brand-100);

  --colors--button--button-primary-error-bg: var(--colors-error-600);
  --colors--button--button-primary-error-bg_hover: var(--colors-error-700);
  --colors--button--button-primary-error-border: var(--colors-error-600);
  --colors--button--button-primary-error-border_hover: var(--colors-error-700);
  --colors--button--button-primary-error-fg: var(--colors-base-white);
  --colors--button--button-primary-error-fg_hover: var(--colors-base-white);

  --colors--button--button-secondary-bg: var(--colors-base-transparent);
  --colors--button--button-secondary-bg_hover: var(--colors-brand-300);
  --colors--button--button-secondary-border: var(--colors-brand-400);
  --colors--button--button-secondary-border_hover: var(--colors-brand-600);
  --colors--button--button-secondary-fg: var(--colors-brand-25);
  --colors--button--button-secondary-fg_hover: var(--colors-brand-900);
  --colors--button--button-secondary-color-bg: var(--colors-gray-dark-mode-900);
  --colors--button--button-secondary-color-bg_hover: var(--colors-gray-dark-mode-800);
  --colors--button--button-secondary-color-border: var(--colors-brand-400);
  --colors--button--button-secondary-color-border_hover: var(--colors-brand-600);
  --colors--button--button-secondary-color-fg: var(--colors-gray-dark-mode-300);
  --colors--button--button-secondary-color-fg_hover: var(--colors-gray-dark-mode-100);

  --colors--button--button-tertiary-bg: var(--colors-gray-light-mode-800);
  --colors--button--button-tertiary-bg_hover: var(--colors-gray-light-mode-800);
  --colors--button--button-tertiary-border: var(--colors-gray-light-mode-700);
  --colors--button--button-tertiary-fg: var(--colors-gray-light-mode-300);
  --colors--button--button-tertiary-fg_hover: var(--colors-gray-light-mode-200);

  --colors--button--button-tertiary-color-bg_hover: var(--colors-brand-950);
  --colors--button--button-tertiary-color-fg: var(--colors-brand-400);
  --colors--button--button-tertiary-color-fg_hover: var(--colors-brand-300);
}
:root {
  /* light-mode */
  /* color */
  --colors-alpha-alpha-black-10: #0000001a;
  --colors-alpha-alpha-black-100: #000000;
  --colors-alpha-alpha-black-20: #00000033;
  --colors-alpha-alpha-black-30: #0000004d;
  --colors-alpha-alpha-black-40: #00000066;
  --colors-alpha-alpha-black-50: #00000080;
  --colors-alpha-alpha-black-60: #00000099;
  --colors-alpha-alpha-black-70: #000000b2;
  --colors-alpha-alpha-black-80: #000000cc;
  --colors-alpha-alpha-black-90: #000000e5;
  --colors-alpha-alpha-white-10: #ffffff1a;
  --colors-alpha-alpha-white-100: #ffffff;
  --colors-alpha-alpha-white-20: #ffffff33;
  --colors-alpha-alpha-white-30: #ffffff4d;
  --colors-alpha-alpha-white-40: #ffffff66;
  --colors-alpha-alpha-white-50: #ffffff80;
  --colors-alpha-alpha-white-60: #ffffff99;
  --colors-alpha-alpha-white-70: #ffffffb2;
  --colors-alpha-alpha-white-80: #ffffffcc;
  --colors-alpha-alpha-white-90: #ffffffe5;
  --colors-background-bg-active: var(--colors-gray-light-mode-50);
  --colors-background-bg-brand-primary: var(--colors-brand-25);
  --colors-background-bg-brand-secondary: var(--colors-brand-100);
  --colors-background-bg-brand-section: var(--colors-brand-800);
  --colors-background-bg-brand-solid: var(--colors-brand-600);
  --colors-background-bg-brand-solid_hover: var(--colors-brand-700);
  --colors-background-bg-disabled: var(--colors-gray-light-mode-100);
  --colors-background-bg-error-primary: var(--colors-error-50);
  --colors-background-bg-error-secondary: var(--colors-error-100);
  --colors-background-bg-error-solid: var(--colors-error-600);
  --colors-background-bg-overlay: var(--colors-gray-light-mode-950);
  --colors-background-bg-primary: var(--colors-brand-25);
  --colors-background-bg-primary-solid: var(--colors-gray-light-mode-900);
  --colors-background-bg-primary_hover: var(--colors-brand-100);
  --colors-background-bg-quaternary: var(--colors-gray-light-mode-300);
  --colors-background-bg-secondary: var(--colors-brand-50);
  --colors-background-bg-secondary-solid: var(--colors-gray-light-mode-700);
  --colors-background-bg-secondary_hover: var(--colors-gray-light-mode-100);
  --colors-background-bg-success-primary: var(--colors-success-50);
  --colors-background-bg-success-secondary: var(--colors-success-100);
  --colors-background-bg-success-solid: var(--colors-success-600);
  --colors-background-bg-tertiary: var(--colors-brand-100);
  --colors-background-bg-warning-primary: var(--colors-warning-50);
  --colors-background-bg-warning-secondary: var(--colors-warning-100);
  --colors-background-bg-warning-solid: var(--colors-warning-600);
  --colors-border-border-brand: var(--colors-brand-400);
  --colors-border-border-brand-solid: var(--colors-brand-500);
  --colors-border-border-disabled: var(--colors-gray-light-mode-300);
  --colors-border-border-error: var(--colors-error-300);
  --colors-border-border-error-solid: var(--colors-error-600);
  --colors-border-border-primary: var(--colors-brand-300);
  --colors-border-border-secondary: var(--colors-brand-200);
  --colors-border-border-tertiary: var(--colors-brand-100);
  --colors-foreground-fg-brand-primary: var(--colors-brand-700);
  --colors-foreground-fg-brand-secondary: var(--colors-brand-600);
  --colors-foreground-fg-disabled: var(--colors-gray-light-mode-500);
  --colors-foreground-fg-error-primary: var(--colors-error-600);
  --colors-foreground-fg-error-secondary: var(--colors-error-500);
  --colors-foreground-fg-primary: var(--colors-gray-light-mode-900);
  --colors-foreground-fg-quarterary: var(--colors-gray-light-mode-500);
  --colors-foreground-fg-quarterary_hover: var(--colors-gray-light-mode-600);
  --colors-foreground-fg-secondary: var(--colors-gray-light-mode-700);
  --colors-foreground-fg-secondary_hover: var(--colors-gray-light-mode-800);
  --colors-foreground-fg-success-primary: var(--colors-success-600);
  --colors-foreground-fg-success-secondary: var(--colors-success-500);
  --colors-foreground-fg-tertiary: var(--colors-gray-light-mode-600);
  --colors-foreground-fg-tertiary_hover: var(--colors-gray-light-mode-700);
  --colors-foreground-fg-warning-primary: var(--colors-warning-600);
  --colors-foreground-fg-warning-secondary: var(--colors-warning-500);
  --colors-foreground-fg-white: var(--colors-base-white);
  --colors-text-text-brand-primary: var(--colors-brand-700);
  --colors-text-text-brand-secondary: var(--colors-brand-600);
  --colors-text-text-brand-tertiary: var(--colors-brand-500);
  --colors-text-text-brand-tertiary-alt: var(--colors-brand-400);
  --colors-text-text-disabled: var(--colors-gray-light-mode-500);
  --colors-text-text-error-primary: var(--colors-error-600);
  --colors-text-text-placeholder: var(--colors-gray-light-mode-500);
  --colors-text-text-primary: var(--colors-brand-900);
  --colors-text-text-primary-on-brand: var(--colors-gray-light-mode-25);
  --colors-text-text-secondary: var(--colors-gray-light-mode-700);
  --colors-text-text-secondary_hover: var(--colors-gray-light-mode-600);
  --colors-text-text-secondary-on-brand: var(--colors-brand-200);
  --colors-text-text-success-primary: var(--colors-success-600);
  --colors-text-text-tertiary: var(--colors-gray-light-mode-600);
  --colors-text-text-tertiary_hover: var(--colors-gray-light-mode-500);
  --colors-text-text-tertiary-on-brand: var(--colors-brand-200);
  --colors-text-text-warning-primary: var(--colors-warning-600);
  --colors-text-text-white: var(--colors-base-white);
  --components-application-navigation-nav-item-button-icon-fg: var(--colors-gray-light-mode-500);
  --components-application-navigation-nav-item-button-icon-fg-active: var(
    --colors-gray-light-mode-700
  );
  --components-application-navigation-nav-item-icon-fg: var(--colors-gray-light-mode-500);
  --components-application-navigation-nav-item-icon-fg-active: var(--colors-gray-light-mode-500);
  --components-buttons-primary-button-primary-bg: var(--colors-brand-600);
  --components-buttons-primary-button-primary-bg_hover: var(--colors-brand-400);
  --components-buttons-primary-button-primary-border: var(--colors-brand-600);
  --components-buttons-primary-button-primary-border_hover: var(--colors-brand-400);
  --components-buttons-primary-button-primary-fg: var(--colors-base-white);
  --components-buttons-primary-button-primary-fg_hover: var(--colors-base-white);
  --components-buttons-primary-error-button-primary-error-bg: var(--colors-error-600);
  --components-buttons-primary-error-button-primary-error-bg_hover: var(--colors-error-700);
  --components-buttons-primary-error-button-primary-error-border: var(--colors-error-600);
  --components-buttons-primary-error-button-primary-error-border_hover: var(--colors-error-700);
  --components-buttons-primary-error-button-primary-error-fg: var(--colors-base-white);
  --components-buttons-primary-error-button-primary-error-fg_hover: var(--colors-base-white);
  --components-buttons-secondary-button-secondary-bg: var(--colors-brand-200);
  --components-buttons-secondary-button-secondary-bg_hover: var(--colors-brand-400);
  --components-buttons-secondary-button-secondary-border: var(--colors-brand-200);
  --components-buttons-secondary-button-secondary-border_hover: var(--colors-brand-300);
  --components-buttons-secondary-button-secondary-fg: var(--colors-brand-800);
  --components-buttons-secondary-button-secondary-fg_hover: var(--colors-brand-800);
  --components-buttons-secondary-color-button-secondary-color-bg: var(--colors-base-white);
  --components-buttons-secondary-color-button-secondary-color-bg_hover: var(--colors-brand-50);
  --components-buttons-secondary-color-button-secondary-color-border: var(--colors-brand-400);
  --components-buttons-secondary-color-button-secondary-color-border_hover: var(--colors-brand-600);
  --components-buttons-secondary-color-button-secondary-color-fg: var(--colors-brand-400);
  --components-buttons-secondary-color-button-secondary-color-fg_hover: var(--colors-brand-600);
  --components-buttons-secondary-error-button-secondary-error-bg: var(--colors-base-white);
  --components-buttons-secondary-error-button-secondary-error-bg_hover: var(--colors-error-50);
  --components-buttons-secondary-error-button-secondary-error-border: var(--colors-error-300);
  --components-buttons-secondary-error-button-secondary-error-border_hover: var(--colors-error-300);
  --components-buttons-secondary-error-button-secondary-error-fg: var(--colors-error-700);
  --components-buttons-secondary-error-button-secondary-error-fg_hover: var(--colors-error-800);
  --components-buttons-tertiary-button-tertiary-bg: var(--colors-gray-light-mode-100);
  --components-buttons-tertiary-button-tertiary-bg_hover: var(--colors-gray-light-mode-50);
  --components-buttons-tertiary-button-tertiary-border: var(--colors-gray-light-mode-200);
  --components-buttons-tertiary-button-tertiary-fg: var(--colors-gray-light-mode-600);
  --components-buttons-tertiary-button-tertiary-fg_hover: var(--colors-gray-light-mode-700);
  --components-buttons-tertiary-color-button-tertiary-color-bg_hover: var(--colors-brand-50);
  --components-buttons-tertiary-color-button-tertiary-color-fg: var(--colors-brand-400);
  --components-buttons-tertiary-color-button-tertiary-color-fg_hover: var(--colors-brand-800);
  --components-buttons-tertiary-error-button-tertiary-error-bg_hover: var(--colors-error-50);
  --components-buttons-tertiary-error-button-tertiary-error-fg: var(--colors-error-700);
  --components-buttons-tertiary-error-button-tertiary-error-fg_hover: var(--colors-error-800);
  /* dark-mode */
  /* color */
}
